In [16]:
import pandas as pd

In [17]:
df = pd.read_csv("./datasets/Cota_ibov.csv")

In [18]:
df

,Data,Último,Abertura,Máxima,Mínima,Vol.,Var%
0,09.06.2021,"129.906,80","129.800,21","130.882,46","129.281,45","9,84M","0,09%"
1,08.06.2021,"129.787,11","130.776,32","130.776,32","129.230,31","10,35M","-0,76%"
2,07.06.2021,"130.776,27","130.125,36","131.190,30","129.498,16","9,66M","0,50%"
3,04.06.2021,"130.125,78","129.600,32","130.137,29","129.147,86","9,81M","0,40%"
4,02.06.2021,"129.601,44","128.268,08","129.601,44","128.166,64","12,78M","1,04%"
...,...,...,...,...,...,...,...
1481,11.06.2015,"53.688,51","53.876,44","54.270,80","53.443,53","3,19M","-0,35%"
1482,10.06.2015,"53.876,44","52.817,45","54.102,18","52.817,45","3,70M","2,01%"
1483,09.06.2015,"52.815,99","52.809,63","53.292,41","52.687,88","3,79M","0,01%"
1484,08.06.2015,"52.809,63","52.974,72","53.324,56","52.809,63","2,66M","-0,31%"
1485,05.06.2015,"52.973,37","53.517,60","53.517,60","52.808,05","2,81M","-1,03%"

In [19]:
def tiraponto(texto):    
    return float(texto.replace('.', '').replace(',', '.'))

def porc(texto):   
    return float(texto.replace(',', '.').replace('%', ''))

In [20]:
df['Último'] = df.apply(lambda x: tiraponto(x['Último']), axis=1)

In [21]:
df['Var%'] = df.apply(lambda x: porc(x['Var%']), axis=1)

In [22]:
d = df[['Data', 'Último', 'Var%']].copy()
d

            Data     Último  Var%
0     09.06.2021  129906.80  0.09
1     08.06.2021  129787.11 -0.76
2     07.06.2021  130776.27  0.50
3     04.06.2021  130125.78  0.40
4     02.06.2021  129601.44  1.04
...          ...        ...   ...
1481  11.06.2015   53688.51 -0.35
1482  10.06.2015   53876.44  2.01
1483  09.06.2015   52815.99  0.01
1484  08.06.2015   52809.63 -0.31
1485  05.06.2015   52973.37 -1.03

[1486 rows x 3 columns]

In [23]:
d['Data'] = d.apply(lambda x: pd.to_datetime(x['Data'],format='%d.%m.%Y',errors='coerce'), axis=1)

In [24]:
d = d.sort_values(by='Data', ascending = True)

In [25]:
d = d.reset_index(drop=True)

In [26]:
d['Cumulative'] = 0

In [27]:
for i in range((d.index.max()) + 1):
    d.loc[i,'Cumulative'] = ((d.loc[i, 'Último'] / d.loc[0, 'Último']) - 1) * 100

In [28]:
d.tail(30)

           Data     Último  Var%  Cumulative
1456 2021-04-28  121052.52  1.39  128.515800
1457 2021-04-29  120065.75 -0.82  126.653033
1458 2021-04-30  118893.84 -0.98  124.440771
1459 2021-05-03  119209.48  0.27  125.036617
1460 2021-05-04  117712.00 -1.26  122.209763
1461 2021-05-05  119564.44  1.57  125.706690
1462 2021-05-06  119920.61  0.30  126.379047
1463 2021-05-07  122038.11  1.77  130.376338
1464 2021-05-10  121909.03 -0.11  130.132669
1465 2021-05-11  122964.01  0.87  132.124197
1466 2021-05-12  119710.03 -2.65  125.981526
1467 2021-05-13  120705.91  0.83  127.861490
1468 2021-05-14  121880.82  0.97  130.079415
1469 2021-05-17  122937.87  0.87  132.074852
1470 2021-05-18  122979.96  0.03  132.154307
1471 2021-05-19  122636.30 -0.28  131.505566
1472 2021-05-20  122700.79  0.05  131.627306
1473 2021-05-21  122592.47 -0.09  131.422826
1474 2021-05-24  124031.62  1.17  134.139569
1475 2021-05-25  122987.71 -0.84  132.168937
1476 2021-05-26  123989.17  0.81  134.059434
1477 2021-05-27  124366.57  0.30  134.771867
1478 2021-05-28  125561.37  0.96  137.027340
1479 2021-05-31  126215.73  0.52  138.262603
1480 2021-06-01  128267.05  1.63  142.134963
1481 2021-06-02  129601.44  1.04  144.653946
1482 2021-06-04  130125.78  0.40  145.643764
1483 2021-06-07  130776.27  0.50  146.871721
1484 2021-06-08  129787.11 -0.76  145.004443
1485 2021-06-09  129906.80  0.09  145.230387

In [16]:
# RESETING INDEX
d = d.reset_index(drop=True)

# TRANSFORMING THE DATAFRAME IN CSV 
d.to_csv(f"COTAHIST_IBOV.csv", index = False)